///////////////////
//// Utilities ////
///////////////////

// Font Importing

@font-face {
    font-family: "Beyond the Mountains";
    src: url("../fonts/beyond_the_mountains/beyond_the_mountains.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
         url("../fonts/Roboto/Roboto-Bold.ttf");
}

// Bostock typeface
@font-face {
    font-family: "Andalusia Script";
    src: url("../fonts/andalusia_Script/TTF/Andalusia.ttf");
}

// Float Clearing
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}