//////////////////////////
//// COLOUR Variables ////
//////////////////////////

// Document Main Colours
$goldColor: #86754E;
$silverColor: #898D8F;
$primaryDarkColor: #000; 
$secondaryDarkColor: #161616;
$tertiaryDarkColor: #2b2b2b; //used for the footer

// Product Catergory Colours
$avocadoSectionColor: #ABCB4E;
$oliveSectionColor: #E2CE3B;
$infusedAvoSectionColor: #89ba3d;
$infusedSectionColor: #8BA017;
$balsamicSectionColor: #74633e;


// Text Colours
$lightTextColor: #FFF;

// Backgrounds Colours
$popUpOverlayColor: rgba(22,22,22,0.85);

$productBoxColor: #F2F2F2;

// Misc
$transitionSpeed: 400ms;


//////////////////////////
//// FONT Variables //////
//////////////////////////

// Font
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Beyond the mountians'; //Need to import font as it's not a websafe font...i think


// Font Weight (used only for primary font)
$headerFontWeight: 700;
$paragraphFontWeight: 400;

// Font Size
$paragraphFontSize: 16px;
$sectionHeaderFontSize: 45px;
$productCategoryHeaderFontSize: 35px;
$productItemHeaderFontSize: 30px;
$slideshowFontSize: 80px;

//////////////////////////
//// OTHER Variables /////
//////////////////////////

//Border Radius
$borderRadius: 20px;
