//////////////////////////
//// Colour Variables ////
//////////////////////////

// Text
$lightTextColor: #FFF;
$darkTextColor: rgb(138, 141, 143);

// Backgrounds etc
$darkColor: #000;
$goldColor: rgb(131, 117, 84);
$darkOverlayColor: rgba(0, 0, 0, 0.75);

// Misc
$transitionSpeed: 400ms;