////////////////
//// Layout ////
////////////////

.inner {
    padding: 10px;
}

.heading-underline {
    height: 3px;
    background-color: $goldColor;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}