////////////////
//// Layout ////
////////////////

.inner {
    padding: 10px;
}

.heading-underline {
    height: 3px;
    background-color: $goldColor;
    width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: $borderRadius;
}