///////////////////////
//// Media Queries ////
///////////////////////

// Tablet Queries
@media screen and (min-width: 700px) {
    .aozora-bostock-logos {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-height: 135px;
        

        .bostock-logo-wrapper{
            border-bottom: none!important;
            border-right: solid 1px $primaryDarkColor;
        }
        
        .logo-wrapper {
            min-height: 135px;
            border-bottom: none;
            height: 100%;
            width: 100%;

            a {
                height: 100%;
                width:100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    

    .mobile-image, .desktop-product {
        display: none;
    }

   .product-wrapper {
    width: 100%;

        .product-item {
            min-width: 80%;
            border-radius: $borderRadius;
            margin: 10px!important;
            padding:0px!important;
            overflow: hidden!important; 

            .tablet-image{
                display: block;
                 width:100%;
            }
        }

        .olive-product, .infused-product, .balsamic-product{
            min-width: 35%;
        }
    }

    .media {
        .inner {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:row;

            .videos {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // flex-wrap:wrap;
                width: 100%;
                .video1,
                .video2{
                    width: 100%;
                    height: 550px;

                //    iframe {
                //         width: 100%;
                //         height: 100%;
                //         padding-bottom: 15px;
                //     } 
                }
            }
        }
    }


    .contact {
        .inner {
            height: 100%;
            display: flex;
            justify-content: space-around;
            article{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px;;
                div{
                    padding-bottom: 10px;
                    width: 100%;
                }
                .contact-wrapper{
                    border-right: solid 2px $silverColor;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .mobile-product{
        display: none;
    }
    .desktop-product{
        display: block!important;
    }
    .avocado-catergory,
    .olive-catergory,
    .infused-catergory,
    .balsamic-catergory{
        fieldset {
            width: 100%;
            height: 100%;

            legend {
                text-align: center;
            }

            .product-wrapper {
                width: 100%;
                
                .avo-wrapper,
                .olive-tree-wrapper,
                .infused-oil-wrapper,
                .infused-collection-wrapper,
                .balsamic-vinegar-wrapper{
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                    border-radius: $borderRadius;
                    overflow: hidden;
                    margin: 10px;
                    background-color: #f2f2f2;

                    .product-image-wrapper{ 
                        max-width: 60%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .desktop-image {
                            width: 100%;
                        }
                    }

                    .product-information-wrapper{
                        width: 40%;
                        padding: 15px;
                        padding-left: 15px; 
                        align-self: flex-end;
                        
                        .product-information{
                            width: 100%;
                            h1{
                                font-size: 1.5em;
                                font-family: "Beyond the Mountains";
                                margin: 0;
                                letter-spacing: 1px;
                                padding-left: 5px;
                                color: $avocadoSectionColor;
                                line-height: 35px;
                                word-spacing: 5px;
                            }
                            .bostock-olive-header{
                                color: #B1B825;
                            }
                            .bostock-lemon-header{
                                color: #FCD500;
                            }
                            .bostock-rosemary-header{
                                color: #10823F;
                            }
                            .bostock-truffle-header{
                                color: #B5BB26;
                            }
                            .bostock-garlic-header{
                                color: #B2AF9B;
                            }
                            .bostock-balsamic-header{
                                color: #4F4534;
                            }
                            p{
                                font-size: 14px;
                                width: 100%;
                                margin: 0;
                                line-height: 22px;
                                letter-spacing: 0.5px;
                            }
                        }                 
                    }
                }
                .olive-oil-wrapper,
                .olive-tree-wrapper,
                .infused-oil-wrapper,
                .balsamic-vinegar-wrapper{
                    width: 47%;
                     .product-information-wrapper{
                        width: 60%;
                     }
                     .product-image-wrapper{
                        width: 40%;
                     }
                     .product-no-border-image{
                        width: 100%;
                        .desktop-image{
                            width: 100%;
                        }
                     }
                }

                .infused-collection-wrapper{
                    width:100%;
                    .product-no-border-image{
                        width: 100%;
                        border-radius: $borderRadius;
                        .desktop-image{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .videos {
        .video1,
        .video2{
            width: 100%;
            height: 550px;

           iframe {
                width: 100%;
                height: 100%;
                padding-bottom: 15px;
            } 
        }  
    }
}


// Desktop Queries
@media screen and (min-width: 1000px) {

    .header {
        height: 100px;
        transition: $transitionSpeed;

        .inner {
            padding: 0 20px;
        }

        .logo {
            height: 100%;
            margin: 0;
            display: block;
            position: absolute;
        }

        .mobile-header {
            display: none;
        }

        .desktop-nav {
            display: block;
            float: right;

            .nav-ul {
                line-height: 100px;
                transition: $transitionSpeed;

                li {
                    display: inline-block;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.0);
                    transition: $transitionSpeed;
                    padding-left: 20px; 
                    padding-right: 20px; 

                    &:hover {
                        border-bottom: 2px solid $goldColor;

                        a {
                            color: $goldColor;
                        }
                    }

                    a {
                        text-align: center;
                        color: $silverColor;
                        padding: 0 10px;
                        font-weight: $paragraphFontWeight;
                        display: block;
                        line-height: 30px;
                        transition: $transitionSpeed;
                    }
                }
            }
        }
    }

    .main {
        padding-top: 100px;

        .slideshow-section-wrapper {
            // height: calc(100vh - 120px); // Height offset for the fixed navigation
            // position: relative;
            height: 75vh;
            min-height: 50%;
            width:100%;
            overflow: hidden;

            .slideshow-section {
                width: 100%;
                // height: calc(100% - 135.47px);
                height: 100%;
                

                .mobile-slideshow {
                    display: none;
                }

                .desktop-slideshow {
                    height: 100%;
                    width: 100%;
                    margin-bottom: 0px;

                    .slick-list, .slick-track {
                        height: 100%;
                    }

                    .slide {
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        height: 100%;
                        padding: 0 85px; // Prevents any images from hiding behind the slideshow toggles

                        &:nth-child(1) {
                            background-image: url("../img/slideshow/slideshow-bg-1.1.jpg");
                        }

                        &:nth-child(2) {
                            background-image: url("../img/slideshow/slideshow-bg-2.jpg");
                        }

                        &:nth-child(3) {
                            background-image: url("../img/slideshow/slideshow-bg-3.jpg");
                        }

                        .inner {
                            height: 100%;
                            max-width: 1500px;
                            margin: 0 auto;
                            position: relative;
                            padding: 0;

                            .blurb {
                                font-size: 45px;
                                line-height: 60px;
                                text-align: center;
                                color: $lightTextColor;
                                max-width: 650px;
                                margin: 0 auto;
                                padding-top: 60px;
                            }
                        }
                    }

                    .slide-one {
                        .inner {
                            // height: 80%;
                            img {
                                // width: 100%;
                                height: 50%;
                                position: absolute;
                                bottom: 0;
                                // max-width: 860px;
                                display: block;
                                @include positioning(absolute, $b: 60px, $l: 50%);
                                transform: translateX(-50%);
                            }
                        }
                    }

                    .slide-two {
                        .inner {
                            img {
                                height: 100%;
                                padding: 50px 0 100px 0;
                            }
                        }
                    }

                    .slide-three {
                        .inner {
                            img {
                                height: 100%;
                                padding: 40px 0 50px 0;
                                margin: 0 auto;
                                display: block;
                            }
                        }
                    }

                    // Slick defaults configuration
                    .slick-prev, .slick-next {
                        z-index: 500;
                        width: auto;
                        height: auto;

                        &::before {
                            font-size: 100px;
                            font-family: 'FontAwesome';
                            display: block;
                        }
                    }

                    .slick-prev {
                        left: 20px;
                    }

                    .slick-next {
                        right: 20px;
                    }

                    .slick-dots {
                        @include positioning(absolute, $l: 0, $b: 0);
                        width: 100%;
                        z-index: 500;
                        text-align: center;
                        line-height: 100px;
                        background: linear-gradient(rgba(22, 22, 22, 0), rgba(22, 22, 22, 0.8));

                        li button::before {
                            color: $lightTextColor;
                            font-size: 15px;
                        }
                    }
                }
            }

            .oil-brand-links {
                @include positioning(absolute, $l: 0, $r: 0, $b: 0);
            }
        }
    }

    .mobile-nav, .nav-overlay {
        display: none;
    }
}

// @media screen and (min-width: 1270px) {
//     .main {
//         .slideshow-section-wrapper {
//             .slideshow-section {
//                 .desktop-slideshow {
//                     .slide-one {
//                         .inner {
//                             img {
//                                 max-width: 1000px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width: 1330px) {
    .about {
        .inner {
            display: grid!important;
            display: -ms-grid!important;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-columns: 1fr 1fr 1fr;
            justify-items: center;

            .section-title {
                grid-column: 1/4;
                -ms-grid-column: 1;
                -ms-grid-column-span: 3;
            }

            .desktop-about-image:nth-child(1) {
                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
            }

            .about-blurb{ 
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
            }

            .desktop-about-image:nth-child(2) {
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;
            }
        }
    }

    .desktop-about-image {
        display: block!important;
    }

    .about-images {
        display: none!important;
    }
}

// Product height automation. May need to be deleted
@media screen and (min-height: 800px) {
    .product-info {
        .inner {
            height: auto;
        }
    }
}

@media screen and (min-height: 1050px) {
    .desktop-slideshow .inner .blurb {
        font-size: 85px!important;
        // max-width: 900px;
        // line-height: 500px;
    }
}

@media screen and (min-width: 520px) {
    .slideshow-section {
        .mobile-slideshow {
            .inner {
                .blurb {
                    font-size: 2.5em!important;
                }
            }
        }
    }
}
