/////////////////
//// Modules ////
/////////////////

.header {
    @include positioning(fixed, 0, 0, 0);
    height: 60px;
    background-color: $primaryDarkColor;
    z-index: 1000;

    .logo {
        @include positioning(relative, 0, 0);
        margin: 0 auto;
        display: block;
        height: 60px;
    }

    .logo-inner {
        padding: 3px;
    }

    .hamburger-toggle {
        @include positioning(absolute, $r: 0, $t: 0);
        width: 30px;
        height: 22px;
        margin: 19px;

        .ham-line {
            @include positioning(absolute, 0, 0);
            transition: $transitionSpeed;
            background-color: $goldColor;
            height: 4px;
            border-radius: 5px;
        }

        .line-1 {
            top: 0px;
        }

        .line-2 {
            top: 9px;
        }

        .line-3 {
            bottom: 0px;
        }
    }
}

.main {
    @include positioning($t: 60px);
}

.mobile-nav {
    @include positioning(fixed, $r: 0, $t: 60px);
    height: 100%;
    background-color: $secondaryDarkColor;
    width: 0;
    overflow-x: hidden;
    transition: $transitionSpeed;

    .nav-ul {
        overflow: scroll;
        font-family: $primaryFont;

        li {
            text-align: center;
            color: $silverColor;
            padding: 10px;
            font-weight: $paragraphFontWeight;
        }

        .title-nav {
            color: $goldColor;
            font-size: 1.5em;
            font-weight: $headerFontWeight;
        }
    }
}