/////////////////
//// Modules ////
/////////////////

.header {
    @include positioning(fixed, 0, 0, 0);
    height: 60px;
    background-color: $primaryDarkColor;
    z-index: 1000;

    .logo {
        display: block;
        margin: 0 auto;
    }

    .hamburger-toggle {
        @include positioning(absolute, $r: 0, $t: 0);
        width: 30px;
        height: 22px;
        margin: 19px;

        .ham-line {
            @include positioning(absolute, 0, 0);
            transition: $transitionSpeed;
            background-color: $goldColor;
            height: 4px;
            border-radius: 5px;
        }

        .line-1 {
            top: 0px;
        }

        .line-2 {
            top: 9px;
        }

        .line-3 {
            bottom: 0px;
        }
    }
}

.logo {
    @include positioning();
    height: 60px;
}

.logo-inner {
    padding: 3px;
}

.main {
    padding-top: 60px;

    .section {
        article {
            margin-bottom: 25px;

            .section-heading {
                color: $goldColor;
                text-align: center;
            }
        }
    }

    .slideshow-section {
        .mobile-slideshow {
            background-image: url("../img/slideshow/mobileSlide.png");
            background-size: cover;
            background-position: center;
            height: 400px;

            .blurb {
                color: $lightTextColor;
                text-align: center;
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .oil-brand-links {
        .aozora-bostock-logos {
            background-color: $secondaryDarkColor;
            width: 100%;

            .bostock-logo-wrapper, .aozora-logo-wrapper{
                width:100%;
                min-height: 135px;
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content:center;
                padding:15px;
                
                a{
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    justify-content:center;
                       
                       .bostock-logo{
                            max-width: 75%;
                        }

                        .aozora-logo{
                            max-width: 60%;
                            margin:10px;
                        } 
                }    
            }
            .bostock-logo-wrapper{
                border-bottom: solid 1px $primaryDarkColor;
            }
        }
    }

    .our-products {
        .product {
            .product-title {
                border-radius: $borderRadius;
                text-align: center;
                color: $lightTextColor;

                .blurb {
                    margin: 0;
                    padding: 16px;
                }
            }

            .avocado-title {
                background-color: $avocadoSectionColor;
            }
        }
    }

    .about {
        .about-blurb {
            color: $primaryDarkColor;
            text-align: center;
            line-height: 25px;

            .quote {
                color: green; // Unsure what color to set this text to
                font-weight: $headerFontWeight;
                font-size: 20px;
            }
        }

        .about-images {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img {
                width: 100%;
            }
        }
    }

    .media {
        .videos {
            img {
                max-width: 100%;
                padding-bottom: 10px;
            }
        }
    }

    .distributor {
        margin-bottom: 25px!important;

        img {
            max-width: 100%;
            max-height: 175px;
            margin: 0 auto;
            display: block;
        }

        h2 {
            text-align: center;
            color: green; // Unsure what color to set this text to
        }
    }

    .contact {
        background-color: $secondaryDarkColor;

        article, .section-heading {
            color: $lightTextColor!important;
            text-align: center;
        }
    }
}

.footer {
    background-color: $tertiaryDarkColor;

    .wrapper {
        display: inline-block;
        @include positioning(relative, 50%);
        transform: translateX(-50%);

        img, p {
            float: left;
        }
    
        p {
            margin: 0;
            line-height: 50px;
            padding-left: 20px;
            color: $lightTextColor;
        }
    
        .logo {
            height: 50px;
        }
    }
}

.mobile-nav {
    @include positioning(fixed, $r: 0, $t: 60px);
    height: 100%;
    background-color: $secondaryDarkColor;
    width: 0;
    overflow-x: hidden;
    transition: $transitionSpeed;
    z-index: 500;

    .title-nav {
        color: $goldColor;
        font-size: 1.5em;
        font-weight: $headerFontWeight;
        margin: 0;
        text-align: center;
    }

    .nav-ul {
        overflow: scroll;

        a {
            text-align: center;
            color: $silverColor;
            padding: 10px;
            font-weight: $paragraphFontWeight;
            display: block;
            line-height: 22px;
        }
    }
}

.nav-overlay {
    @include positioning(fixed, 0, 0, 0, 0);
    background-color: $popUpOverlayColor;
    display: none;
}